* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
  color: #2e2e2e;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
}

.menu {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #644b2c;
}

button {
  width: 223px;
  height: 50px;
  background: #dc2427;
  border-style: none;
  border-radius: 5px;
  color: #ffffff;
  font-weight: 700;
  text-transform: uppercase;
}

.img-destaque {
  margin-top: 28px;
}

section {
  padding: 36px;
}

.initial-section {
  background: #f7f1df;
}

h2 {
  font-weight: 700;
  font-size: 24px;
  line-height: 130%;
  color: #dc2428;
}

.initial-section p {
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  margin: 20px 0;
}

.div-numbers {
  background-color: white;
  border-radius: 5px;
  height: 434px;
}
.number-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  padding-top: 49px;
}

.number {
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  color: #111111;
}

/* Services Section */

.services-section {
  background: #e4d0b4;
}

.services-section h2 {
  text-align: center;
  margin-bottom: 32px;
}

.card {
  background: #ffffff;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
}

.card h3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 130%;
  color: #000000;
  margin: 20px 0;
  inline-size: 250px;
  overflow-wrap: break-word;
}

.card p {
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  color: #2e2e2e;
}

.curve {
  margin: 10px 10px 0;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  float: left;
}

#icon-limpeza {
  background: url("/assets/image/icon-limpeza-pele.svg") no-repeat;
}

#icon-peeling {
  background: url("/assets/image/icon-peeling.svg") no-repeat;
}

#icon-radiesse {
  background: url("/assets/image/icon-radiesse.svg") no-repeat;
}

#icon-lifting {
  background: url("/assets/image/icon-lifting.svg") no-repeat;
}

#icon-drenagem {
  background: url("/assets/image/icon-drenagem.svg") no-repeat;
}

#icon-micro {
  background: url("/assets/image/icon-microagulhamento.svg") no-repeat;
}

@media screen and (min-width: 992px) {
  .initial-section {
    padding: 0 80px;
  }
  .logo {
    margin: 48px 0 0;
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    color: #644b2c;
  }
  ul {
    display: flex;
    margin: 48px 0 0;
    gap: 48px;
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    color: #644b2c;
  }
  .cta-section {
    display: flex;
    align-items: center;
  }
  .img-destaque {
    min-width: 608px;
    margin-top: 57px;
    margin-left: 45px;
  }
  .initial-section h2 {
    font-size: 48px;
  }
  .initial-section p {
    font-weight: 400;
    font-size: 20px;
    line-height: 130%;
    color: #2e2e2e;
  }
  button {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
  }
  .div-numbers {
    display: flex;
    justify-content: space-between;
    width: 1162px;
    height: 206px;
    padding: 0 132px;
  }
  #clients-vertical-line::after {
    content: " ";
    height: 72px;
    border: 2px solid #7e623c;
    position: absolute;
    left: 500px;
    top: 678px;
  }
  #years-vertical-line::after {
    content: " ";
    height: 72px;
    border: 2px solid #7e623c;
    position: absolute;
    left: 920px;
    top: 678px;
  }
  .number-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
  }
  .number {
    font-weight: 700;
    font-size: 52px;
    line-height: 100%;
  }
  .description {
    font-weight: 700;
    font-size: 20px;
    line-height: 100%;
    color: #2e2e2e;
  }
  /* Services Section  */
  .services-section h2 {
    font-size: 36px;
    padding-top: 80px;
  }
  section {
  }
  .cards {
    display: flex;
    flex-wrap: wrap;
    gap: 45px;
    padding-bottom: 80px;
  }
  .card{
    flex-basis: 30%;
  }
  .card p{
    font-size: 16px;
  }
}
