* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
  color: #2e2e2e;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
}

#icon-menu {
  display: block;
  padding-bottom: 15px;
  cursor: pointer;
}

.logo {
  font-size: 18px;
  padding: 0px 30px;
  position: absolute;
  right: 10px;
}

header {
  margin-bottom: 26px;
}

.nav {
  display: none;
}

.menu a {
  display: block;
  margin: 5px 0;
  border-bottom: 1px solid #f3d7b6;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #644b2c;
}

.menu a:hover {
  border-bottom: 0;
  background-color: #f3d7b6;
}

button {
  width: 223px;
  height: 50px;
  background: #dc2427;
  border-style: none;
  border-radius: 5px;
  color: #ffffff;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
}

button:hover {
  background: #ffccd1;
  color: #dc2428;
}

a {
  color: #644b2c;
}

a:hover {
  color: #dc2428;
}

.img-destaque {
  margin-top: 28px;
}

section {
  padding: 36px;
}

.initial-section {
  background: #f7f1df;
}

h2 {
  font-weight: 700;
  font-size: 24px;
  line-height: 130%;
  color: #dc2428;
}

.initial-section p {
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  margin: 20px 0;
}

.initial-section ul {
  list-style: none;
}

.div-numbers {
  background-color: white;
  border-radius: 5px;
  height: 434px;
}
.number-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  padding-top: 49px;
}

.number {
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  color: #111111;
}

/* Services Section */

.services-section {
  background: #e4d0b4;
}

.services-section h2 {
  text-align: center;
  margin-bottom: 32px;
}

.card {
  background: #ffffff;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
}

.card h3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 130%;
  margin: 20px 0;
  inline-size: 250px;
  overflow-wrap: break-word;
}

.red{
  color:#dc2428;
}

.card p {
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  color: #2e2e2e;
}

.curve {
  margin: 10px 10px 0;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  float: left;
}

#icon-limpeza {
  background: url("/assets/image/icon-limpeza-pele.svg") no-repeat;
}

#icon-peeling {
  background: url("/assets/image/icon-peeling.svg") no-repeat;
}

#icon-radiesse {
  background: url("/assets/image/icon-radiesse.svg") no-repeat;
}

#icon-lifting {
  background: url("/assets/image/icon-lifting.svg") no-repeat;
}

#icon-drenagem {
  background: url("/assets/image/icon-drenagem.svg") no-repeat;
}

#icon-micro {
  background: url("/assets/image/icon-microagulhamento.svg") no-repeat;
}

/* About Section */

.about-section {
  background: #fcf8f5;
}

.about-section p {
  margin: 20px 0;
}

.about-section ul {
  margin-left: 36px;
}

.image {
  display: none;
}

/* FAQ Section */

.faq-section {
  background: #ffffff;
  padding: 48px 36px;
  margin: 0;
}

.faq-section p {
  margin-top: 20px;
}

#faq-image {
  display: none;
}

.question {
  padding-right: 10px;
  border: 1px solid #b2b2b2;
  margin-bottom: 20px;
}

details {
  font-size: 1rem;
  border-radius: 5px;
  position: relative;
}

details:hover {
  cursor: pointer;
}

.summary-content {
  cursor: default;
  padding: 0px 35px 20px 25px;
  font-weight: 300;
  line-height: 1.5;
}

summary {
  list-style: none;
  padding: 20px 25px;
}

summary:focus {
  outline: none;
}

.summary-chevron-up,
.summary-chevron-down {
  pointer-events: none;
  position: absolute;
  top: 25px;
  right: 12px;
  background: #ffffff;
}

/* Testimonials Section */
.testimonials-section {
  background: #e4d0b4;
}

.testimonials-card {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f7f7f7;
  border-radius: 3.50639px;
  gap: 14px;
  margin-top: 43px;
  width: 100%;
}

.testimonials-card h3 {
  font-weight: 700;
  font-size: 13.6835px;
  line-height: 130%;
}

.testimonials-card hr {
  height: 1.4px;
  background: #2e2e2e;
  margin: 10px 0;
}

.testimonials-card img {
  margin: 25px;
}

.testimonials-text {
  padding: 25px;
  gap: 14px;
}

.checked {
  color: #d6d615;
}

footer {
  background: #644b2c;
  padding: 36px;
}

footer h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  color: #ffffff;
  margin-bottom: 36px;
}

footer span {
  font-weight: 700;
  font-size: 16px;
  line-height: 130%;
  letter-spacing: 0.015em;
  color: #ffffff;
  margin-bottom: 17px;
}

.cols h3 {
  padding-right: 164px;
}

.col-1 {
  padding-right: 146px;
}

hr {
  margin: 17px 0;
}

.text-upper {
  font-weight: 700;
  font-size: 20px;
  line-height: 130%;
  padding-bottom: 36px;
  text-transform: uppercase;
  color: #ffffff;
}

.medias {
  display: flex;
  padding-top: 16px;
  padding-bottom: 36px;
  gap: 36px;
}

.data-group {
  display: flex;
  flex-direction: column;
}

/*  Slide */
.arrow {
  display: none;
}

#mCard {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  display: none;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 12px;
  width: 12px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation Slide Card */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}


@media screen and (min-width: 992px) {
  .initial-section {
    padding: 48px 80px 0 80px;
    height: 700px;
  }
  header {
    display: flex;
    justify-content: space-between;
    padding-right: 36px;
  }
  .logo {
    position: initial;
    padding: 0;
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    color: #644b2c;
  }
  .nav {
    display: block;
  }
  .menu {
    margin-right: 0px;
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
  }
  .menu a {
    margin: 0;
    border-bottom: 0;
    font-size: 24px;
  }
  .menu a:hover {
    background-color: transparent;
  }
  #icon-menu {
    display: none;
  }
  .initial-section ul {
    display: flex;
    margin: 0;
    gap: 48px;
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
  }
  .cta-section {
    display: flex;
    align-items: center;
  }
  .img-destaque {
    min-width: 608px;
    margin-top: 57px;
    margin-left: 45px;
  }
  .initial-section h2 {
    font-size: 48px;
  }
  .initial-section p {
    font-weight: 400;
    font-size: 20px;
    line-height: 130%;
    color: #2e2e2e;
  }
  button {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
  }
  .div-numbers {
    display: flex;
    justify-content: space-between;
    width: 1162px;
    height: 206px;
    padding: 0 132px;
    position: absolute;
    bottom: -180px;
  }
  #clients-vertical-line::after {
    content: " ";
    height: 72px;
    border: 2px solid #7e623c;
    position: absolute;
    left: 420px;
    top: 80px;
  }
  #years-vertical-line::after {
    content: " ";
    height: 72px;
    border: 2px solid #7e623c;
    position: absolute;
    left: 830px;
    top: 80px;
  }
  .number-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
  }
  .number {
    font-weight: 700;
    font-size: 52px;
    line-height: 100%;
  }
  .description {
    font-weight: 700;
    font-size: 20px;
    line-height: 100%;
    color: #2e2e2e;
  }
  /* Services Section  */
  .services-section h2 {
    font-size: 36px;
    padding-top: 80px;
  }
  section {
    padding: 95px 80px 0;
  }
  .cards {
    display: flex;
    flex-wrap: wrap;
    gap: 45px;
    padding-bottom: 80px;
  }
  .card {
    flex-basis: 30%;
  }
  .card p {
    font-size: 16px;
  }
  /* About Section */
  .about-section {
    display: flex;
    gap: 120px;
  }
  .about-clinic h2 {
    margin-top: 105px;
  }
  .about-clinic img {
    width: 399px;
    height: 598px;
  }
  .about-section ul {
    flex-direction: column;
    font-weight: 400;
    font-size: 18px;
    line-height: 130%;
    margin: 0;
    padding-left: 40px;
    gap: 8px;
  }
  .image {
    display: block;
    width: 50%;
    margin-bottom: 80px;
  }
  .about-clinic {
    width: 50%;
  }


  

  /* FAQ Section */
  .faq-section {
    padding: 0 80px;
    margin: 80px 0;
    display: flex;
    gap: 80px;
  }
  .faq-section p {
    padding-right: 40px;
  }
  #faq-image {
    display: block;
    width: 524px;
  }
  .questions {
    width: 1000px;
  }
  .summary-content {
    padding: 0px 35px 20px 35px;
  }
  .summary-chevron-up,
  .summary-chevron-down {
    right: 20px;
  }
  /* Testimonial Section */
  .testimonials-section {
    padding: 95px 145px;
  }
  .testimonials-section h2 {
    text-align: center;
    padding-bottom: 20px;
  }
  .testimonials-card {
    width: 490px;
    margin-right: 40px;
  }
  .slide {
    display: flex;
    flex-direction: row;
  }
  .slide li {
    flex-shrink: 0;
    list-style: none;
    gap: 30px;
  }
  .testimonials {
    display: flex;
  }
  .star-ratting {
    padding: 10px 0;
  }
  /* Slide */
  #mCard {
    display: flex;
  }
  .card-group {
    display: flex;
  }
  .left {
    margin-right: 20px;
  }
  /* Next & previous buttons */
  .prev,
  .next {
    display: block;
    cursor: pointer;
    position: absolute;
    top: 215rem;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: #dc2428;
    font-weight: bold;
    font-size: 42px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  .prev{
    left: 6%;
  }
  /* Position the "next button" to the right */
  .next {
    right: 9%;
    border-radius: 3px 0 0 3px;
  }
  /* On hover, add a soft pink background color */
  .prev:hover,
  .next:hover {
    background: #ffccd1;
    color: #dc2428;
  }
  .dot {
    height: 15px;
    width: 15px;
  }
  /* Footer */
  .footer {
    padding: 0 80px;
  }
  .cols {
    display: flex;
  }
  .cols {
    padding-top: 50px;
  }
  .col-1 {
    padding-right: 176px;
  }
  .medias {
    padding-bottom: 76px;
  }
  .copyright {
    padding-bottom: 24px;
  }
}
