* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
  color: #2e2e2e;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
}

.menu {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #644b2c;
}

button {
  width: 223px;
  height: 50px;
  background: #dc2427;
  border-style: none;
  border-radius: 5px;
  color: #ffffff;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
}

button:hover{
  background: #FFCCD1;
  color: #DC2428;
}

.img-destaque {
  margin-top: 28px;
}

section {
  padding: 36px;
}

.initial-section {
  background: #f7f1df;
}

h2 {
  font-weight: 700;
  font-size: 24px;
  line-height: 130%;
  color: #dc2428;
}

.initial-section p {
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  margin: 20px 0;
}

.initial-section ul {
  list-style: none;
}

.div-numbers {
  background-color: white;
  border-radius: 5px;
  height: 434px;
}
.number-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  padding-top: 49px;
}

.number {
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  color: #111111;
}

/* Services Section */

.services-section {
  background: #e4d0b4;
}

.services-section h2 {
  text-align: center;
  margin-bottom: 32px;
}

.card {
  background: #ffffff;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
}

.card h3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 130%;
  color: #000000;
  margin: 20px 0;
  inline-size: 250px;
  overflow-wrap: break-word;
}

.card p {
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  color: #2e2e2e;
}

.curve {
  margin: 10px 10px 0;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  float: left;
}

#icon-limpeza {
  background: url("/assets/image/icon-limpeza-pele.svg") no-repeat;
}

#icon-peeling {
  background: url("/assets/image/icon-peeling.svg") no-repeat;
}

#icon-radiesse {
  background: url("/assets/image/icon-radiesse.svg") no-repeat;
}

#icon-lifting {
  background: url("/assets/image/icon-lifting.svg") no-repeat;
}

#icon-drenagem {
  background: url("/assets/image/icon-drenagem.svg") no-repeat;
}

#icon-micro {
  background: url("/assets/image/icon-microagulhamento.svg") no-repeat;
}

/* About Section */

.about-section {
  background: #fcf8f5;
}

.about-section p {
  margin: 20px 0;
}

.about-section ul {
  margin-left: 36px;
}

.image {
  display: none;
}

/* FAQ Section */

.faq-section{
  background: #FFFFFF;
  padding: 48px 36px;
  margin: 0;
}

.faq-section p{
  margin-top: 20px;
}

#faq-image{
  display: none;
}

.question{
  border: 1px solid #B2B2B2;
  margin-bottom: 20px;
  padding: 20px;
}

.question-group{
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

/* Testimonials Section */
.testimonials-section{
  background: #E4D0B4;
}

.testimonials-card{
  display: flex;
  justify-content: center;
  align-items: center;
  background: #F7F7F7;
  border-radius: 3.50639px;
  gap: 14px;
  margin-top: 43px;
  width: 311px;
}

.testimonials-card h3{
  font-weight: 700;
font-size: 13.6835px;
line-height: 130%;
}

.testimonials-card hr{
  height: 1.4px;
  background: #2E2E2E;
  margin: 10px 0;
}

.testimonials-card img{
margin: 25px;
}

.testimonials-text{
  padding: 25px;
  gap: 14px;
}

.checked{
  color: #d6d615;
}

@media screen and (min-width: 992px) {
  .initial-section {
    padding: 0 80px;
    height: 700px;
  }
  .logo {
    margin: 48px 0 0;
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    color: #644b2c;
  }
  ul {
    display: flex;
    margin: 48px 0 0;
    gap: 48px;
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    color: #644b2c;
  }
  .cta-section {
    display: flex;
    align-items: center;
  }
  .img-destaque {
    min-width: 608px;
    margin-top: 57px;
    margin-left: 45px;
  }
  .initial-section h2 {
    font-size: 48px;
  }
  .initial-section p {
    font-weight: 400;
    font-size: 20px;
    line-height: 130%;
    color: #2e2e2e;
  }
  button {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
  }
  .div-numbers {
    display: flex;
    justify-content: space-between;
    width: 1162px;
    height: 206px;
    padding: 0 132px;
    position: absolute;
    bottom: -180px;
  }
  #clients-vertical-line::after {
    content: " ";
    height: 72px;
    border: 2px solid #7e623c;
    position: absolute;
    left: 420px;
    top: 80px;
  }
  #years-vertical-line::after {
    content: " ";
    height: 72px;
    border: 2px solid #7e623c;
    position: absolute;
    left: 830px;
    top: 80px;
  }
  .number-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
  }
  .number {
    font-weight: 700;
    font-size: 52px;
    line-height: 100%;
  }
  .description {
    font-weight: 700;
    font-size: 20px;
    line-height: 100%;
    color: #2e2e2e;
  }
  /* Services Section  */
  .services-section h2 {
    font-size: 36px;
    padding-top: 80px;
  }
  section {
    padding: 95px 80px 0;
  }
  .cards {
    display: flex;
    flex-wrap: wrap;
    gap: 45px;
    padding-bottom: 80px;
  }
  .card {
    flex-basis: 30%;
  }
  .card p {
    font-size: 16px;
  }
  /* About Section */
  .about-section {
    display: flex;
    gap: 120px;
  }
  .about-clinic h2 {
    margin-top: 105px;
  }
  .about-clinic img {
    width: 399px;
    height: 598px;
  }
  .about-section ul {
    flex-direction: column;
    font-weight: 400;
    font-size: 18px;
    line-height: 130%;
    margin: 0;
    padding-left: 40px;
    gap: 8px;
  }
  .image {
    display: block;
    width: 50%;
    margin-bottom: 80px;
  }
  .about-clinic {
    width: 50%;
  }
  /* FAQ Section */
  .faq-section{
    padding: 0 80px ;
    margin: 80px 0;
    display: flex;
    gap: 80px;
  }
  .faq-section p{
    padding-right: 40px;
  }
  /* Testimonial Section */
  .testimonials-section{
    padding: 95px 140px;
  }
  .testimonials-section h2{
    text-align: center;
    padding-bottom: 20px;
  }
  .testimonials-card{
    width: 50%;
  }
  .testimonials{
    display: flex;
    gap: 50px;
  }
  .star-ratting{
    padding: 10px 0;
  }
}
